{% extends 'layout.html' %}

{% block stylecss %}
{% load static %}
<link href={% static 'css/style.css' %} rel="stylesheet">
{% endblock stylecss %}


{% block judul %}
My E-Commerce
{% endblock judul %}

{% block content %}

{% comment %} {% for d in products %}
<p>{{d.id}}</p>
<p>{{d.name}}</p>
<p>{{d.image}}</p>
<p>{{d.price}}</p>
{% endfor %} {% endcomment %}


<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Featured Product</h3>
										<h2>Popular Products</h2>
								</div>
						</div>						
				</div>
				<div class="row">
					<div class="col">
						<h3>keranjang</h3>
						{% for i in keranjang%}
							<p>id : {{i.id_produk}}</p>
							<p>jmlh : {{i.jmlh}}</p>
							<form action="/delete" method="post">
								{% csrf_token %}
								<input type="hidden" name="id_product" value="{{i.id_produk}}" />
								<button type="submit" name="delete">Delete</button>
							</form>
						{% endfor%}
					</div>
				</div>
				<div class="row">
					{% for d in products%}
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div id="product-{{d.id}}" class="single-product">
							<div class="part-1" style ="--link-bg : url({{d.image}})">
								<ul>										
									<li>
										<form action="/add" method="post">
											{% csrf_token %}
											<input type="hidden" name="id_product" value="{{d.id}}" />
											<button type="submit" class="p-0 border-0"><a><i class="fas fa-shopping-cart"></i></a></button>
										</form>									
									</li>											
									<li><a href="#"><i class="fas fa-heart"></i></a></li>
									<li><a href="#"><i class="fas fa-plus"></i></a></li>
									<li><a href="#"><i class="fas fa-expand"></i></a></li>
								</ul>
							</div>
							<div class="part-2">
									<h3 class="product-title">{{d.name}}</h3>
									<h4 class="product-price">Rp. {{d.price}}</h4>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
		</div>
</section>
{% endblock content %}


{# commetar #}